/* Show it's not fixed to the top */
body {
  min-height: 75rem;
}

.table th {
	text-align: center;
	font-size: 18pt;
	font-weight: 700;
}
.table td {
	text-align: center;
	font-size: 18pt;
	font-weight: 700;
}

.table .inactive {
	background-color: #EECCCC;
}